<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
</head>
<body>
<div class="container">
    <div th:replace="/layout :: top"></div>
    <div th:replace="/layout :: menu"></div>
    <div class="row">
        <div th:replace="/layout :: left"></div>
        <div class="col-7">
            <h1>Your Cart</h1>
            <form th:action="@{/shop}" th:object="${cart}" method="post">
                <h3>Total Items: <span th:text="${cart.countItemQuantity()}"></span></h3>
                <h3>Total Products: <span th:text="${cart.countProductQuantity()}"></span></h3>
                <table border="1">
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    <tr th:each="product: ${cart.products}">
                        <td th:text="${product.getKey().name}"></td>
                        <td style="text-align: center">
                            <a class="btn btn-primary" id="decrease_button"
                               th:href="@{/sub/__${product.getKey().id}__(action='show')}" th:text="${'-'}"
                               style="text-decoration: none"></a>
                            <span th:text="${product.getValue()}"></span>
                            <a class="btn btn-primary" id="increase_button"
                               th:href="@{/add/__${product.getKey().id}__(action='show')}"
                               th:text="${'+'}" style="text-decoration: none"></a>
                        </td>
                        <td th:text="${product.getKey().price}"></td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td></td>
                        <td th:text="${cart.countTotalPayment()}"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div th:replace="/layout :: right"></div>
    </div>
    <div th:replace="/layout :: footer"></div>
</div>

</body>
</html>
