<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <!--th:replace: thay thế thẻ hiện tại bằng thẻ có tên tương ứng được khai báo fragment-->
    <div th:replace="/layout :: top"></div>
    <div th:replace="/layout :: menu"></div>
    <div class="row mt-3">
        <div th:replace="/layout :: left"></div>
        <div class="col-7 p-3" style="border: 1px solid; border-radius: 5px">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id="exampleInputEmail1"
                           aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail2" class="form-label">
                        Price
                    </label>
                    <input type="number" class="form-control" name="price" id="exampleInputEmail2"
                           aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail4" class="form-label">
                        Description
                    </label>
                    <input type="text" class="form-control" name="description" id="exampleInputEmail4"
                           aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail5" class="form-label">
                        Image
                    </label>
                    <input type="file" class="form-control" name="file" id="exampleInputEmail5"
                           aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
        <div th:replace="/layout :: right"></div>
    </div>
    <div th:replace="/layout :: footer"></div>
</div>
</body>
</html>